html
	head
		title= title
		link(href='/css/main.css', rel='stylesheet')
	body
		if username
			h2 ສະບາຍດີ ທ່ານ #{username}
			div
				form(name='logout', method='POST', action='logout')
					input(type='submit', value='ອອກ')
		else
			div
				a(href='/signup') ສະໝັກສຳມະຊິກ
			div
				a(href='/login') ເຂົ້າລະບົບ
		div#mainApp(ng-include="'/modules/hello/views/hello.client.view.jade'")
					

	script(type='text/javascript', src='/lib/angular/angular.min.js')
	script(type='text/javascript', src='/modules/hello/hello.client.module.js')
	script(type='text/javascript', src='/modules/hello/controllers/hello.client.controller.js')
	script(type='text/javascript', src='/modules/hello/filters/hello.client.filter.js')
	script(type='text/javascript', src='/application.js')