html
	head
		title= title
		link(href='/css/main.css', rel='stylesheet')
	body#mainApp
		if username
			h2 ສະບາຍດີ ທ່ານ #{username}
			div
				form(name='logout', method='POST', action='logout')
					input(type='submit', value='ອອກ')
		else
			div
				a(ui-sref='signup') ສະໝັກສຳມະຊິກ
			div
				a(ui-sref='login') ເຂົ້າລະບົບ
		div(ui-view='')
					

	script(type='text/javascript', src='/lib/angular/angular.min.js')
	script(type='text/javascript', src='/lib/angular-ui-router/release/angular-ui-router.min.js')

	script(type='text/javascript', src='/modules/core/core.client.module.js')
	script(type='text/javascript', src='/modules/core/config/core.client.routes.js')

	script(type='text/javascript', src='/modules/users/users.client.module.js')
	script(type='text/javascript', src='/modules/users/config/users.client.routes.js')
	
	script(type='text/javascript', src='/application.js')